.header{
    min-height: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header a{
    font-size: 30px;
    color: #E01A76;
    text-decoration: none;
}